/* line 1, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
body {
  font-family: "Hirago KakuGothic Pro", sans-serif;
  font-feature-settings: "palt" 1; }

/* line 11, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-family: 'Noto Serif JP', serif; }

/* line 16, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section {
  overflow: hidden;
  width: 100vw; }

/* line 21, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
.fuwatAnime {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important; }

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

/* line 60, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
header {
  background-size: cover;
  background-position: center center;
  height: auto; }
  /* line 65, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  header .top {
    position: relative; }
    /* line 68, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    header .top img {
      width: 100%;
      margin: auto; }
    /* line 73, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    header .top #bg-video {
      width: 100%;
      margin: auto;
      background-size: cover; }
    /* line 79, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    header .top .banner {
      position: fixed;
      z-index: 3;
      bottom: 0;
      height: 140px;
      width: 100%;
      margin: 60px auto 0; }
      /* line 87, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      header .top .banner nav {
        padding: 0;
        margin: 0 100px; }
        /* line 91, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        header .top .banner nav ul {
          overflow: hidden;
          justify-content: center;
          display: flex; }
          /* line 96, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
          header .top .banner nav ul li {
            list-style: none;
            margin: 0 10px;
            text-align: center; }
        /* line 103, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        header .top .banner nav a {
          position: relative;
          line-height: 48px;
          display: block;
          text-decoration: none;
          color: #484359;
          font-size: 28px;
          transition-duration: 0.3s; }
          /* line 113, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
          header .top .banner nav a:hover {
            transform: scale(1.1);
            transition-duration: 0.3s; }

/* line 123, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section.introduction {
  width: 100%;
  margin: 240px auto; }
  /* line 127, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.introduction img {
    display: block;
    margin: 20px auto;
    object-fit: contain; }

/* line 134, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section.sake__cranberry {
  position: relative;
  margin-top: 200px; }
  /* line 138, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry img {
    display: block;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 145, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry section.sake__cranberry__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 153, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 158, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
        width: 294px;
        object-fit: contain; }
      /* line 164, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text {
        height: 86px; }
      /* line 168, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
        height: 86px; }
      /* line 172, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 40px; }
  /* line 181, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 188, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 195, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry .sake__cranberry__shop {
    position: relative;
    z-index: 2;
    margin: 120px 0 80px; }
    /* line 200, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 860px; }
    /* line 204, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop .guidance {
      width: 320px;
      margin-bottom: 20px; }
    /* line 209, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop .shop__link {
      width: 300px;
      margin: 0 auto; }
      /* line 214, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry .sake__cranberry__shop .shop__link a .text {
        margin-top: 40px;
        width: 300px;
        transition-duration: 0.3s; }
      /* line 221, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry .sake__cranberry__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 231, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section.sake__cheese {
  position: relative;
  margin-top: 200px; }
  /* line 235, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cheese img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 243, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cheese section.sake__cheese__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 251, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content .sake__cheese__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 256, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
        width: auto;
        object-fit: contain; }
      /* line 261, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
        height: 94px; }
      /* line 265, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
        height: 120px; }
      /* line 269, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 68px; }
  /* line 278, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cheese .water__2 {
    position: absolute;
    top: 260px;
    left: 0;
    z-index: 1;
    width: 360px; }
  /* line 286, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cheese .sake__cheese__shop {
    position: relative;
    z-index: 2;
    margin: 120px 0 80px; }
    /* line 291, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 860px; }
    /* line 295, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop .guidance {
      width: 320px;
      margin-bottom: 20px; }
    /* line 300, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 305, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese .sake__cheese__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 312, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese .sake__cheese__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 323, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section.sake__mirai {
  position: relative;
  margin-top: 200px; }
  /* line 327, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__mirai img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 335, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__mirai section.sake__mirai__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 343, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content .sake__mirai__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 348, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
        width: auto;
        object-fit: contain; }
      /* line 353, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
        height: 94px; }
      /* line 357, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
        height: 100px; }
      /* line 361, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 48px; }
  /* line 370, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__mirai .water__2 {
    position: absolute;
    top: 260px;
    right: 0;
    z-index: 1;
    width: 360px; }
  /* line 378, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__mirai .sake__mirai__shop {
    position: relative;
    z-index: 2;
    margin: 120px 0 80px; }
    /* line 383, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 860px; }
    /* line 387, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop .guidance {
      width: 320px;
      margin-bottom: 20px; }
    /* line 392, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 397, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai .sake__mirai__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 404, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai .sake__mirai__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 414, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
section.sake__unagi {
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px; }
  /* line 419, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 427, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi section.sake__unagi__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 435, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content .sake__unagi__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 440, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
        width: auto;
        object-fit: contain; }
      /* line 445, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
        height: 94px; }
      /* line 449, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
        height: 108px; }
      /* line 453, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 64px; }
  /* line 462, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 469, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 476, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi .sake__unagi__shop {
    position: relative;
    z-index: 2;
    margin: 120px 0 80px; }
    /* line 481, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 860px; }
    /* line 485, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop .guidance {
      width: 320px;
      margin-bottom: 20px; }
    /* line 490, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 495, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi .sake__unagi__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 502, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi .sake__unagi__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 512, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
footer {
  text-align: center;
  color: #484359;
  font-family: 'Be Vietnam', sans-serif;
  margin-bottom: 10px; }

@media (max-width: 450px) {
  /* line 521, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  header .banner {
    display: none;
    height: 160px;
    margin-top: 20px; }
    /* line 526, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    header .banner nav {
      margin-right: 0;
      margin-left: 0; }
      /* line 530, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      header .banner nav ul {
        margin: 10px 20px;
        flex-wrap: wrap;
        justify-content: center; }
        /* line 535, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        header .banner nav ul li {
          width: 120px;
          margin: 0; }
          /* line 539, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
          header .banner nav ul li img {
            height: 40px;
            width: 100px; }
          /* line 544, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
          header .banner nav ul li .ai {
            width: 50px; }
  /* line 553, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cranberry {
    margin-top: 80px; }
    /* line 556, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry img.title {
      width: 200px; }
    /* line 560, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content {
      display: block;
      margin-top: 40px; }
      /* line 564, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
        width: 100%;
        margin: 4px; }
        /* line 568, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
          width: 200px;
          margin: 10px; }
        /* line 573, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
          height: 70px; }
        /* line 577, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .right {
          float: right;
          margin-left: 200px; }
    /* line 584, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .water__1 {
      top: 300px;
      width: 220px; }
    /* line 591, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 320px; }
    /* line 595, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img.text {
      width: 200px; }
    /* line 600, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cranberry .water__2 {
      width: 220px; }
  /* line 605, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__cheese {
    margin-top: 80px; }
    /* line 608, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese img.title {
      width: 200px; }
    /* line 612, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content {
      display: block;
      margin-top: 40px; }
      /* line 616, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item {
        margin: 0;
        width: 100%; }
        /* line 620, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 625, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 631, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 637, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
          margin-right: 10px;
          margin-left: 10px;
          width: 200px; }
        /* line 643, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .right {
          float: right;
          margin-left: 200px; }
    /* line 650, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .water__1 {
      top: 300px;
      width: 160px; }
    /* line 657, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 320px; }
    /* line 661, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img.text {
      width: 120px; }
    /* line 666, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__cheese .water__2 {
      width: 220px; }
  /* line 671, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__mirai {
    margin-top: 80px; }
    /* line 674, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai img.title {
      width: 200px; }
    /* line 678, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content {
      display: block;
      margin-top: 40px; }
      /* line 682, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item {
        margin: 0;
        width: 100%; }
        /* line 686, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 691, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 697, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
          margin-right: 20px;
          margin-left: 40px;
          width: 160px; }
        /* line 703, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
          margin-right: 10px;
          margin-left: 20px;
          width: 180px; }
        /* line 709, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .right {
          float: right;
          margin-left: 200px; }
    /* line 718, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 320px; }
    /* line 722, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img.text {
      width: 120px; }
    /* line 727, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__mirai .water__2 {
      width: 220px; }
  /* line 732, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
  section.sake__unagi {
    margin-top: 80px; }
    /* line 735, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi img.title {
      width: 200px; }
    /* line 739, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content {
      display: block;
      margin-top: 40px; }
      /* line 743, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item {
        margin: 0;
        width: 100%; }
        /* line 747, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 752, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 758, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 764, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 770, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .right {
          float: right;
          margin-left: 200px; }
    /* line 779, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 320px; }
    /* line 783, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img.text {
      width: 120px; }
    /* line 788, /Users/matsuyasuguru/nihonsyu_sue/sake.scss */
    section.sake__unagi .water__1 {
      width: 220px;
      bottom: 100px; } }

/*# sourceMappingURL=sake.css.map */