/* line 1, /Users/matsuyasuguru/sake_sue/sake.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, /Users/matsuyasuguru/sake_sue/sake.scss */
body {
  font-family: "Hirago KakuGothic Pro", sans-serif;
  font-feature-settings: "palt" 1; }

/* line 11, /Users/matsuyasuguru/sake_sue/sake.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-family: 'Noto Serif JP', serif; }

/* line 16, /Users/matsuyasuguru/sake_sue/sake.scss */
section {
  overflow: hidden;
  width: 100vw; }

/* line 21, /Users/matsuyasuguru/sake_sue/sake.scss */
.fuwatAnime {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important; }

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

/* line 60, /Users/matsuyasuguru/sake_sue/sake.scss */
header {
  background-size: cover;
  background-position: center center;
  height: auto; }
  /* line 65, /Users/matsuyasuguru/sake_sue/sake.scss */
  header .top {
    position: relative; }
    /* line 68, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top img {
      width: 100%;
      margin: auto; }
    /* line 73, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top #bg-video {
      width: 100%;
      margin: auto;
      background-size: cover; }
    /* line 79, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top .catch {
      height: 60%;
      width: 3%;
      position: absolute;
      top: 20%;
      left: 10%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      font-size: 32px;
      color: #fff;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-style: italic;
      font-weight: 100; }
  /* line 96, /Users/matsuyasuguru/sake_sue/sake.scss */
  header .banner {
    height: 210px;
    margin: 60px auto 0; }
    /* line 100, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .banner nav {
      padding: 0;
      margin: 0 100px; }
      /* line 104, /Users/matsuyasuguru/sake_sue/sake.scss */
      header .banner nav ul {
        overflow: hidden;
        margin: 20px 50px;
        display: flex; }
        /* line 109, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .banner nav ul li {
          list-style: none;
          margin: auto;
          text-align: center; }
      /* line 116, /Users/matsuyasuguru/sake_sue/sake.scss */
      header .banner nav a {
        position: relative;
        line-height: 48px;
        display: block;
        text-decoration: none;
        color: #484359;
        font-size: 28px;
        transition-duration: 0.3s; }
        /* line 126, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .banner nav a:hover {
          transform: scale(1.1);
          transition-duration: 0.3s; }

/* line 135, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__cranberry {
  position: relative; }
  /* line 138, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 146, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry section.sake__cranberry__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 154, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 159, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
        width: 294px;
        object-fit: contain;
        margin-bottom: 52px; }
      /* line 165, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text {
        height: 86px; }
      /* line 169, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
        height: 86px; }
      /* line 173, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_3 {
        padding-top: 20px;
        margin-bottom: 80px;
        height: 40px; }
  /* line 182, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 189, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 196, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .sake__cranberry__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 201, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 860px; }
    /* line 205, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop .text {
      margin-top: 40px;
      width: 300px; }

/* line 212, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__cheese {
  position: relative;
  margin-top: 100px; }
  /* line 216, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 224, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese section.sake__cheese__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 232, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content .sake__cheese__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 237, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
        width: auto;
        object-fit: contain;
        margin-bottom: 52px; }
      /* line 243, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
        height: 94px; }
      /* line 247, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
        height: 120px; }
      /* line 251, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
        padding-top: 20px;
        margin-bottom: 80px;
        height: 68px; }
  /* line 260, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese .water__2 {
    position: absolute;
    top: 260px;
    left: 0;
    z-index: 1;
    width: 360px; }
  /* line 268, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese .sake__cheese__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 273, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 860px; }
    /* line 277, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop .text {
      margin-top: 40px;
      width: 200px; }

/* line 285, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__mirai {
  position: relative;
  margin-top: 100px; }
  /* line 289, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 297, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai section.sake__mirai__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 305, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content .sake__mirai__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 310, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
        width: auto;
        object-fit: contain;
        margin-bottom: 52px; }
      /* line 316, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
        height: 94px; }
      /* line 320, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
        height: 100px; }
      /* line 324, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
        padding-top: 20px;
        margin-bottom: 80px;
        height: 48px; }
  /* line 333, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai .water__2 {
    position: absolute;
    top: 260px;
    right: 0;
    z-index: 1;
    width: 360px; }
  /* line 341, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai .sake__mirai__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 346, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 860px; }
    /* line 350, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop .text {
      margin-top: 40px;
      width: 200px; }

/* line 357, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__unagi {
  position: relative;
  margin-top: 100px; }
  /* line 361, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 369, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi section.sake__unagi__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 377, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content .sake__unagi__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 382, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
        width: auto;
        object-fit: contain;
        margin-bottom: 52px; }
      /* line 388, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
        height: 94px; }
      /* line 392, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
        height: 108px; }
      /* line 396, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
        padding-top: 20px;
        margin-bottom: 80px;
        height: 64px; }
  /* line 405, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 412, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 419, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .sake__unagi__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 424, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 860px; }
    /* line 428, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop .text {
      margin-top: 40px;
      width: 200px; }

@media (max-width: 450px) {
  /* line 437, /Users/matsuyasuguru/sake_sue/sake.scss */
  header .banner {
    display: none;
    height: 160px;
    margin-top: 20px; }
    /* line 442, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .banner nav {
      margin-right: 0;
      margin-left: 0; }
      /* line 446, /Users/matsuyasuguru/sake_sue/sake.scss */
      header .banner nav ul {
        margin: 10px 20px;
        flex-wrap: wrap;
        justify-content: center; }
        /* line 451, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .banner nav ul li {
          width: 120px;
          margin: 0; }
          /* line 455, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .banner nav ul li img {
            height: 40px;
            width: 100px; }
          /* line 460, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .banner nav ul li .ai {
            width: 50px; }
  /* line 469, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry {
    margin-top: 80px; }
    /* line 472, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry img.title {
      width: 200px; }
    /* line 476, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content {
      display: block;
      margin-top: 40px; }
      /* line 480, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
        width: 100%;
        margin: 4px; }
        /* line 484, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
          width: 200px;
          margin: 10px; }
        /* line 489, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
          height: 70px; }
        /* line 493, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .right {
          float: right;
          margin-left: 200px; }
    /* line 500, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .water__1 {
      top: 300px;
      width: 220px; }
    /* line 507, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 320px; }
    /* line 511, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img.text {
      width: 200px; }
    /* line 516, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .water__2 {
      width: 220px; }
  /* line 521, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese {
    margin-top: 80px; }
    /* line 524, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese img.title {
      width: 200px; }
    /* line 528, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content {
      display: block;
      margin-top: 40px; }
      /* line 532, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item {
        margin: 0;
        width: 100%; }
        /* line 536, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 541, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 547, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 553, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
          margin-right: 10px;
          margin-left: 10px;
          width: 200px; }
        /* line 559, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .right {
          float: right;
          margin-left: 200px; }
    /* line 566, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .water__1 {
      top: 300px;
      width: 160px; }
    /* line 573, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 320px; }
    /* line 577, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img.text {
      width: 120px; }
    /* line 582, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .water__2 {
      width: 220px; }
  /* line 587, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai {
    margin-top: 80px; }
    /* line 590, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai img.title {
      width: 200px; }
    /* line 594, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content {
      display: block;
      margin-top: 40px; }
      /* line 598, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item {
        margin: 0;
        width: 100%; }
        /* line 602, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 607, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 613, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
          margin-right: 20px;
          margin-left: 40px;
          width: 160px; }
        /* line 619, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
          margin-right: 10px;
          margin-left: 20px;
          width: 180px; }
        /* line 625, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .right {
          float: right;
          margin-left: 200px; }
    /* line 634, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 320px; }
    /* line 638, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img.text {
      width: 120px; }
    /* line 643, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .water__2 {
      width: 220px; }
  /* line 648, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi {
    margin-top: 80px; }
    /* line 651, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi img.title {
      width: 200px; }
    /* line 655, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content {
      display: block;
      margin-top: 40px; }
      /* line 659, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item {
        margin: 0;
        width: 100%; }
        /* line 663, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 668, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 674, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 680, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 686, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .right {
          float: right;
          margin-left: 200px; }
    /* line 695, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 320px; }
    /* line 699, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img.text {
      width: 120px; }
    /* line 704, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .water__1 {
      width: 220px;
      bottom: 100px; } }

/*# sourceMappingURL=sake.css.map */