/* line 1, /Users/matsuyasuguru/sake_sue/sake.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, /Users/matsuyasuguru/sake_sue/sake.scss */
body {
  font-family: "Hirago KakuGothic Pro", sans-serif;
  font-feature-settings: "palt" 1; }

/* line 11, /Users/matsuyasuguru/sake_sue/sake.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-family: 'Noto Serif JP', serif; }

/* line 16, /Users/matsuyasuguru/sake_sue/sake.scss */
section {
  overflow: hidden;
  width: 100vw; }

/* line 21, /Users/matsuyasuguru/sake_sue/sake.scss */
.fuwatAnime {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important; }

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

/* line 60, /Users/matsuyasuguru/sake_sue/sake.scss */
header {
  background-size: cover;
  background-position: center center;
  height: auto; }
  /* line 65, /Users/matsuyasuguru/sake_sue/sake.scss */
  header .top {
    position: relative; }
    /* line 68, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top img {
      width: 100%;
      margin: auto; }
    /* line 73, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top #bg-video {
      width: 100%;
      margin: auto;
      background-size: cover; }
    /* line 79, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top .catch {
      height: 60%;
      width: 3%;
      position: absolute;
      top: 20%;
      left: 10%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      font-size: 32px;
      color: #fff;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-style: italic;
      font-weight: 100; }
    /* line 95, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .top .banner {
      position: fixed;
      z-index: 3;
      bottom: 0;
      height: 140px;
      width: 100%;
      margin: 60px auto 0; }
      /* line 103, /Users/matsuyasuguru/sake_sue/sake.scss */
      header .top .banner nav {
        padding: 0;
        margin: 0 100px; }
        /* line 107, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .top .banner nav ul {
          overflow: hidden;
          justify-content: center;
          display: flex; }
          /* line 112, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .top .banner nav ul li {
            list-style: none;
            margin: 0 10px;
            text-align: center; }
        /* line 119, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .top .banner nav a {
          position: relative;
          line-height: 48px;
          display: block;
          text-decoration: none;
          color: #484359;
          font-size: 28px;
          transition-duration: 0.3s; }
          /* line 129, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .top .banner nav a:hover {
            transform: scale(1.1);
            transition-duration: 0.3s; }

/* line 139, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__cranberry {
  position: relative;
  margin-top: 140px; }
  /* line 143, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry img {
    display: block;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 150, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry section.sake__cranberry__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 158, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 163, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
        width: 294px;
        object-fit: contain; }
      /* line 169, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text {
        height: 86px; }
      /* line 173, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
        height: 86px; }
      /* line 177, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 40px; }
  /* line 186, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 193, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 200, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry .sake__cranberry__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 205, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 860px; }
    /* line 209, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop .shop__link {
      width: 300px;
      margin: 0 auto; }
      /* line 214, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry .sake__cranberry__shop .shop__link a .text {
        margin-top: 40px;
        width: 300px;
        transition-duration: 0.3s; }
      /* line 221, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry .sake__cranberry__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 231, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__cheese {
  position: relative;
  margin-top: 100px; }
  /* line 235, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 243, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese section.sake__cheese__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 251, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content .sake__cheese__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 256, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
        width: auto;
        object-fit: contain; }
      /* line 261, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
        height: 94px; }
      /* line 265, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
        height: 120px; }
      /* line 269, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 68px; }
  /* line 278, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese .water__2 {
    position: absolute;
    top: 260px;
    left: 0;
    z-index: 1;
    width: 360px; }
  /* line 286, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese .sake__cheese__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 291, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 860px; }
    /* line 295, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 300, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese .sake__cheese__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 307, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese .sake__cheese__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 318, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__mirai {
  position: relative;
  margin-top: 100px; }
  /* line 322, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 330, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai section.sake__mirai__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 338, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content .sake__mirai__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 343, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
        width: auto;
        object-fit: contain; }
      /* line 348, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
        height: 94px; }
      /* line 352, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
        height: 100px; }
      /* line 356, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 48px; }
  /* line 365, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai .water__2 {
    position: absolute;
    top: 260px;
    right: 0;
    z-index: 1;
    width: 360px; }
  /* line 373, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai .sake__mirai__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 378, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 860px; }
    /* line 382, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 387, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai .sake__mirai__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 394, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai .sake__mirai__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 404, /Users/matsuyasuguru/sake_sue/sake.scss */
section.sake__unagi {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px; }
  /* line 409, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi img {
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    object-fit: contain; }
  /* line 417, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi section.sake__unagi__content {
    display: flex;
    align-items: center;
    margin: 80px 0 0;
    justify-content: center;
    position: relative;
    z-index: 2; }
    /* line 425, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content .sake__unagi__item {
      width: 300px;
      margin: 0 20px;
      display: block; }
      /* line 430, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
        width: auto;
        object-fit: contain; }
      /* line 435, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
        height: 94px; }
      /* line 439, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
        height: 108px; }
      /* line 443, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
        padding-top: 20px;
        margin-bottom: 20px;
        height: 64px; }
  /* line 452, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .water__1 {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1; }
  /* line 459, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .water__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  /* line 466, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi .sake__unagi__shop {
    position: relative;
    z-index: 2;
    margin: 40px 0; }
    /* line 471, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 860px; }
    /* line 475, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop .shop__link {
      width: 200px;
      margin: 0 auto; }
      /* line 480, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi .sake__unagi__shop .shop__link a .text {
        margin-top: 40px;
        width: 200px;
        transition-duration: 0.3s; }
      /* line 487, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi .sake__unagi__shop .shop__link a:hover .text {
        transform: scale(1.1);
        transition-duration: 0.3s; }

/* line 497, /Users/matsuyasuguru/sake_sue/sake.scss */
footer {
  text-align: center;
  color: #484359;
  font-family: 'Be Vietnam', sans-serif;
  margin-bottom: 10px; }

@media (max-width: 450px) {
  /* line 506, /Users/matsuyasuguru/sake_sue/sake.scss */
  header .banner {
    display: none;
    height: 160px;
    margin-top: 20px; }
    /* line 511, /Users/matsuyasuguru/sake_sue/sake.scss */
    header .banner nav {
      margin-right: 0;
      margin-left: 0; }
      /* line 515, /Users/matsuyasuguru/sake_sue/sake.scss */
      header .banner nav ul {
        margin: 10px 20px;
        flex-wrap: wrap;
        justify-content: center; }
        /* line 520, /Users/matsuyasuguru/sake_sue/sake.scss */
        header .banner nav ul li {
          width: 120px;
          margin: 0; }
          /* line 524, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .banner nav ul li img {
            height: 40px;
            width: 100px; }
          /* line 529, /Users/matsuyasuguru/sake_sue/sake.scss */
          header .banner nav ul li .ai {
            width: 50px; }
  /* line 538, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cranberry {
    margin-top: 80px; }
    /* line 541, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry img.title {
      width: 200px; }
    /* line 545, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry section.sake__cranberry__content {
      display: block;
      margin-top: 40px; }
      /* line 549, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item {
        width: 100%;
        margin: 4px; }
        /* line 553, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item img {
          width: 200px;
          margin: 10px; }
        /* line 558, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .text_2 {
          height: 70px; }
        /* line 562, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cranberry section.sake__cranberry__content .sake__cranberry__item .right {
          float: right;
          margin-left: 200px; }
    /* line 569, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .water__1 {
      top: 300px;
      width: 220px; }
    /* line 576, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img {
      width: 320px; }
    /* line 580, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .sake__cranberry__shop img.text {
      width: 200px; }
    /* line 585, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cranberry .water__2 {
      width: 220px; }
  /* line 590, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__cheese {
    margin-top: 80px; }
    /* line 593, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese img.title {
      width: 200px; }
    /* line 597, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese section.sake__cheese__content {
      display: block;
      margin-top: 40px; }
      /* line 601, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__cheese section.sake__cheese__content .sake__cheese__item {
        margin: 0;
        width: 100%; }
        /* line 605, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 610, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 616, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 622, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .text_3 {
          margin-right: 10px;
          margin-left: 10px;
          width: 200px; }
        /* line 628, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__cheese section.sake__cheese__content .sake__cheese__item .right {
          float: right;
          margin-left: 200px; }
    /* line 635, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .water__1 {
      top: 300px;
      width: 160px; }
    /* line 642, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img {
      width: 320px; }
    /* line 646, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .sake__cheese__shop img.text {
      width: 120px; }
    /* line 651, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__cheese .water__2 {
      width: 220px; }
  /* line 656, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__mirai {
    margin-top: 80px; }
    /* line 659, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai img.title {
      width: 200px; }
    /* line 663, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai section.sake__mirai__content {
      display: block;
      margin-top: 40px; }
      /* line 667, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__mirai section.sake__mirai__content .sake__mirai__item {
        margin: 0;
        width: 100%; }
        /* line 671, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 676, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 682, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_2 {
          margin-right: 20px;
          margin-left: 40px;
          width: 160px; }
        /* line 688, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .text_3 {
          margin-right: 10px;
          margin-left: 20px;
          width: 180px; }
        /* line 694, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__mirai section.sake__mirai__content .sake__mirai__item .right {
          float: right;
          margin-left: 200px; }
    /* line 703, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img {
      width: 320px; }
    /* line 707, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .sake__mirai__shop img.text {
      width: 120px; }
    /* line 712, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__mirai .water__2 {
      width: 220px; }
  /* line 717, /Users/matsuyasuguru/sake_sue/sake.scss */
  section.sake__unagi {
    margin-top: 80px; }
    /* line 720, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi img.title {
      width: 200px; }
    /* line 724, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi section.sake__unagi__content {
      display: block;
      margin-top: 40px; }
      /* line 728, /Users/matsuyasuguru/sake_sue/sake.scss */
      section.sake__unagi section.sake__unagi__content .sake__unagi__item {
        margin: 0;
        width: 100%; }
        /* line 732, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item img {
          width: 130px;
          margin: 10px 40px; }
        /* line 737, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text {
          margin-right: 26px;
          margin-left: 26px;
          width: 160px; }
        /* line 743, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_2 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 749, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .text_3 {
          margin-right: 20px;
          margin-left: 20px;
          width: 180px; }
        /* line 755, /Users/matsuyasuguru/sake_sue/sake.scss */
        section.sake__unagi section.sake__unagi__content .sake__unagi__item .right {
          float: right;
          margin-left: 200px; }
    /* line 764, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img {
      width: 320px; }
    /* line 768, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .sake__unagi__shop img.text {
      width: 120px; }
    /* line 773, /Users/matsuyasuguru/sake_sue/sake.scss */
    section.sake__unagi .water__1 {
      width: 220px;
      bottom: 100px; } }

/*# sourceMappingURL=sake.css.map */